<h1>Tutorials</h1>
<p>You can find details on how to connect to a DualityVPN in here</p>
<ul>
<li><%= link_to "Windows", connection_walkthrough_pc_path %></li>
<li><%= link_to "Linux", connection_walkthrough_linux_path %></li>
<li><%= link_to "MacOS", connection_walkthrough_mac_path %></li>
</ul>
