<h1>How to connect to a VPN using iOS</h1>
<p>Step 1: <%= link_to "Get necessary files to connect", "#{image_path('walkthroughs/ios_1.jpg')}", :target => "_blank" %></p>
<p>Step 2: <%= link_to "Configuring OpenVPN", "#{image_path('walkthroughs/ios_2.jpg')}", :target => "_blank" %>
