<h1>How to connect to a VPN using Android</h1>
<p>Because of the technical limitations, we cannot use our own client on mobile devices yet so we will use open-source OpenVPN</p>
<p>Step 1: <%= link_to "Download OpenVPN", "https://play.google.com/store/apps/details?id=de.blinkt.openvpn" %> </p>
<p>Step 2: <%= link_to "Get necessary files to connect", "#{image_path('walkthroughs/android_1.jpg')}", :target => "_blank" %></p>
<p>Step 3: <%= link_to "Configuring OpenVPN", "#{image_path('walkthroughs/android_2.jpg')}", :target => "_blank" %>
