<h1>How to connect to a VPN using MacOS</h1>
<p>Because of the technical limitations, we cannot use our own client on MacOS system yet so we will use Tunnelblick</p>
<h2>Installation</h2>
<p>Step 1: <%= link_to "Download Tunnelblick", "https://code.google.com/p/tunnelblick/" %> </p>
<p>Step 2: <%= link_to "Installation guide", "#{image_path('walkthroughs/mac_3.jpg')}", :target => "_blank" %></p>
<p>Step 3: <%= link_to "Configuring Tunnelblick", "#{image_path('walkthroughs/mac_1.jpg')}", :target => "_blank" %>
<h2>Using Tunnelblick</h2>
<p>Step 1: <%= link_to "How to use it", "#{image_path('walkthroughs/mac_2.jpg')}", :target => "_blank" %> </p>
