<h1>Contact us</h1>
<p>If you have any questions/issues regarding our system, don't hesitate to ask at:</p>
<div><ul>
<li><%= link_to "Frequently Asked Questions", "https://dualitynetwork.zendesk.com/hc/en-us" %></li>
<li><a href="mailto:support@dualitynetwork.zendesk.com">Technical support</li>
<li><a href="mailto:admin@dualitynetwork.com">Site administrator</li>
</ul></div>
