<h1>Legal terms</h1>

<h2><br />WEBSITE TERMS<br /></h2>
THIS PAGE (DUALITYNETWORK.COM WITH ALL OF ITS SUBDOMAINS) AND DOCUMENTS REFFERED ON IT, EXPLAINS YOU THE TERMS OF USE THAT ARE REGULATING THE USE OF OUR SITE WHETHER YOU ARE GUEST OR USER OF OUR SERVICE. BEFORE YOU START TO USE DUALITYNETWORK.COM PLEASE READ THE WEBSITE TERMS CAREFULLY. USING THIS SITE AUTOMATICALY INDICATES THAT YOU AGREE WITH STATEMENTS INCLUDED IN WEBSITE TERMS. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE RESTRAIN FROM USING OUR SITE. YOU ARE RESPONSIBLE FOR MAKING ALL ARRANGEMENTS NECESSARY FOR YOU TO HAVE ACCESS TO OUR SITE. YOU ARE ALSO RESPONSIBLE FOR ENSURING THAT ALL PEOPLE WHO ACCESS OUR SITE THROUGH YOUR INTERNET CONNECTION ARE AWARE OF THESE TERMS, AND THAT THEY COMPLY WITH THEM.<br />
<h2>AVAILABILITY AND MAINTENANCE<br /></h2>

<br />WE DO OUR BEST TO MAKE THE SITE AVAILABLE FOR ALL TIME. HOWEVER THERE IS A POSSIBILITY OF SITE UNAVAILABILITY FOR A VARIETY OF FACTORS THAT ARE BEYOND OUR CONTROL SUCH AS:<br />
-SERVERS MAINTENANCE<br />
-BIG SCALE DDOS ATTACKS<br />
-EMERGENCIES<br />
-THIRD PARTY SERVICE FAILURES<br />
-NETWORK PROBLEMS AND/OR LIMITATIONS<br />
-PROBLEMS WITH TRANSMISSION<br />
-PROBLEMS WITH SIGNAL STRENGTH<br />
-PROBLEMS WITH EQUIPMENT<br />
ACCESS TO SITE MAY BE INTERRUPTED, REFUSED, LIMITED OR CURTAILED.<br />
WE DO NOT TAKE RESPONSIBILITY OF DATA, PAGES, MESSAGES AND OTHER FORMS OF INFORMATION LOSS, DELIVERY DELAY OR MISDIRECTION. DELAYS OR OMISSIONS MAY OCCUR.<br />
WE DO NOT TAKE RESPONSIBILITY FOR:<br />
-LOSS OF INCOME OR REVENUE;<br />
-LOSS OF PROFITS AND/OR CONTRACTS;<br />
-LOSS OF BUSINESS;<br />
-LOSS OF GOODWILL;<br />
AND ANY OTHER LOSS OR DAMAGE.<br />
IN OTHER WORDS, WE WILL NOT BE BE LIABLE IF FOR ANY REASON OUR SITE IS UNAVALIABLE AT ANY TIME OR FOR ANY PERIOD.<br />
WE ALSO RESERVE THE RIGHT TO RESTRICT ACCESS TO SOME PARTS OF OUR SITE/ENTIRE SITE, TO REGISTERED USERS.<br />

<h2><br />REGULAR CHANGES ON SITE<br /></h2>
SOME CHANGES AND UPDATES MAY REQUIRE US TO SUSPEND ACCESS TO OUR SITE OR CLOSE IT COMPLETELY.<br />

<br />
<h2><br />ACCOUNT POLICIES<br /></h2>

<br />ACCOUNT OWNER IS RESPONSIBLE FOR MAINTAINING THE CONFIDENTIALITY OF HIS/HER CREDENTIALS, AND/OR PASSWORD. ANY HARM RESULTING FROM DISCLOSING OR ALLOWING DISCLOSURE OF ANY PASSWORD OR SHARING SECURITY CREDENTIALS IS A SOLE LIABILITY OF ACCOUNT OWNER.<br />
ACCOUNT OWNER WILL REMAIN AMENABLE FOR ANY UNAUTHORISED USE OF SITE AND ITS SERVICES UNTIL ACCOUNT OWNER NOTIFIES ABOUT IT DUALITYNETWORK AND DUALITYVPN ADMINISTRATORS.<br />

<h2><br />INFORMATION THAT YOU PROVIDE TO US<br /></h2>
WE PROCCESS INFORMATION ABOUT YOU AND YOUR ACTIVITY IN ACCORDANCE WITH OUR PRIVACY POLICY. USER CONSENTS TO SUCH A PROCESSING AND IS A WARRANT THAT ALL DATA PROVIDED IS ACCURATE.<br />
LINKING TO OUR SITE<br />
YOU MAY INSERT LINKS TO OUR HOME PAGE, HOWEVER EVERYTHING MUST BE DONE IN A LEGAL MANNER AND DOES NOT DAMAGE OUR REPUTATION OR CREATE FALSE VIEW ABOUT US. SUCH LINKS CANNOT SUGGEST OUR ASSOCIATION OR SUPPORT IF THERE IS NONE. LINKS MUST NOT BE USED TO PROMOTE OUR SITE AND SERVICES FOR ACTIVITIES THAT WILL BREACH OF ANY OF OUR TERMS OF SERVICE.<br />
<h2>ILLEGAL ACTIVITIES<br /></h2>

<br />YOU MAY NOT USE OUR SITE TO DO ANYTHING ILLEGAL.<br />
YOU MAY NOT USE OUR SITE FOR:<br />
-SPAMMING (E-MAIL, MESSAGE BOARDS, ETC.)<br />
-ILLEGAL BIT TORRENT ACTIVITIES<br />
-DISTRIBUTION OF INTERNET VIRUSES, WORMS OR OTHER DESTRUCTIVE ACTIVITIES THAT ARE CONSIDERED ILLEGALS<br />
-IP SPOOFING<br />
-ILLEGAL UNAUTHORISED ACCESS TO OTHER COMPUTERS OR NETWORKS<br />
-ALL OTHER ILLEGAL ACTIVITIES<br />
-DDOS ATTACK<br />
YOU ALSO AGREE NOT TO LAUNCH ANY POP-UPS FROM OUR SITE AS WELL AS YOU AGREE NOT TO ATTACK IN ANY WAY FROM OTHER COMPUTER OR NETWORK WHILE ON OUR SERVICE.<br />
YOU MAY NOT USE OUR SITE TO PROMOTE AND/OR PROVIDE INSTRUCTIONS ABOUT ILLEGAL ACTIVITIES OR PROMOTE ANY ACT OF CRUELTY TOWARD ANIMALS.<br />
YOU MAY NOT COLLECT AND/OR STORE PERSONAL DATA ABOUT OTHER USERS WITHOUT THEIR KNOWLEDGE.<br />

<h2><br />POLICY CHANGES<br /></h2>

<br />WE RESERVE THE RIGHT TO REVISE, SUPPLEMENT OR RESCIND ANY OF OUR POLICIES OR TERMS OF SERVICE AT ANY TIME, WITHOUT PRIOR NOTICE. IT IS MEMBER’S SOLE RESPONSIBILITY TO REMAIN INFORMED OF OUR CURRENT TERMS OF SERVICE INCLUDING ALL OTHER NAMED POLICIES INCLUDED BY REFERENCE THEREIN.<br />
<br />


<h1><br />PRIVACY POLICY<br /></h1>
<br />
<br />

<h2><br />STARTING<br /></h2>

<br />SITE DUALITYNETWORK.COM AND ALL OF ITS SUBDOMAINS ARE REFFERED AS (WE, OUR, US, DUALITYVPN OR DUALITYNETWORK). WE ARE PROVIDER OF VIRTUAL PRIVATE NETWORK SERVICE AND OTHER RELATED SERVICES. THIS DOCUMENT INCLUDING TERMS OF SERVICE EXPLAIN HOW AND ON WHICH CIRCUMSTANCES WE COLLECT AND USE INFORMATIONS THAT USERS PROVIDE US.<br />
<br />
<br />

<h2><br />INFORMATION THAT WE COLLECT FROM YOU. HOW WE USE IT AND FOR WHAT PURPOSE<br /></h2>
<br />
<br />

<br />AS A PROVIDER OF ONLINE-ENABLED SERVICES, WE REQUIRE USERS TO PROVIDE CONTACT INFORMATION, SUCH AS THEIR E-MAIL ADDRESS.
<br />IN ADDITION TO THE INFORMATION YOU PROVIDE TO ACCESS TO OUR SERVICES, WE MAY STORE THE FOLLOWING PIECES OF DATA: IP ADDRESS, TIMES WHEN CONNECTED TO OUR SERVICE AND TOTAL AMOUNT OF DATA TRANSFERRED PER DAY WHERE ALL OF THIS INFORMATIONS ARE FOR ONLY STATISTICS PURPOSES TO BE CHECKED IN USER PANEL.
<br />AS A MATTER OF FACT WE DO NOT STORE INFORMATION ABOUT USERS SUCH AS CHATS, VOIP CALLS, WEBSITES VISITED, ETC.
<br />WE WILL NEVER RESELL OR PROVIDE YOUR INFORMATION TO A THIRD PARTY UNLESS WE ARE REQUIRED TO DO SO IN ORDER TO CONFORM WITH A LEGAL REQUIREMENT, COMPLY WITH THE LEGAL PROCESS, PROTECT AND DEFEND THE RIGHTS OR PROPERTY OF DUALITYVPN, ENFORCE THIS ONLINE AGREEMENT, OR ACT TO PROTECT THE INTERESTS OF OUR CUSTOMERS.
<br />IF THERE IS A COMPLAIN REGARDING COPYRIGHTED MATERIALS SUCH AS MUSIC, MOVIES OR PROGRAMS BEING SHARED ILLEGALLY THROUGH OUR NETWORK, WE MAY FILTER TRAFFIC TO SEE WHICH ACCOUNT IS SENDING IT, AND THEN CANCEL THAT ACCOUNT.
<br />DUE TO FREEDOM AND PRIVACY OF OUR USERS WE DO NOT AND WILL NOT MONITOR ACTIVELY OUR USER SESSIONS FOR INAPPROPRIATE BEHAVIOUR OR COLLECT ANY DIRECT LOGS OF ANY CUSTOMER’S INTERNET CONNECTIONS THROUGH DUALITYVPN AND DUALITYNETWORK SERVICES. MATTERS CONSIDERED AS ILLEGAL AND THOSE WHICH VIOLATES THE LAW MAY OBLIGE US TO COOPERATE WITH LAW ENFORCEMENT PERSONNEL. VIOLATION OF THIS AGREEMENT WILL LEAD TO ACCOUNT TERMINATION. WE DO NOT AND WILL NEVER INTENTIONALLY DISCLOSE ANY PRIVATE ELECTRONIC COMMUNICATION OR OTHER PERSONAL CUSTOMER INFORMATION UNLESS REQUIRED BY LAW ENFORCEMENT PERSONNEL.<br />
<br />

<h2><br />PAYMENTS METHOD<br /></h2>

<br />WE ARE USING 3 TYPES OF PAYMENT METHODS (PAYPAL, BITCOIN AND DOGECOIN). INFORMATIONS THAT ARE COLLECTED DURING A PROCESS ARE REDUCED TO MINIMUM POSSIBLE TO CONDUCT A TRANSACTION. CRYPTOCURRENCY ENABLES YOU TO PAY ANONYMOUSLY. FOUNDS THAT YOU PAY IN ARE STORED ON YOUR WALLET AND CAN BE USED TO PURCHASE OUR SERVICES. WE DO NOT PROVIDE REFUNDS. USING OUR SITE AND THUS USING PAYMENTS METHODS MEANS THAT YOU AGREE WITH OUR POLICY AND ACCEPT IT.<br />
<br />
<br />

<h2><br />WHEN YOU CONTACT US:<br /></h2>

<br />TICKET, EMAIL OR ANY OTHER FORM OF CONTACT FROM YOUR SIDE IS STORED FOR A TIME PERIOD OF UP TO 6 MONTHS, HOWEVER FOR LEGAL REASONS OR UNDER EXCEPTIONAL CIRCUMSTANCES WE CAN EXTEND THIS PERIOD OF TIME. INFORMATION STORED IS PROTECTED AND CANNOT BE USED AS A FORM OF PROMOTION OR BE SOLD TO THIRD PARTY MEMBERS.<br />
<br />
<br />

<h2><br />COOKIES<br /></h2>
<br />WHAT ARE COOKIES?
<br />COOKIES ARE SMALL TEXT FILES THAT ARE PLACED ON YOUR COMPUTER BY WEBSITES THAT YOU VISIT. THEY ARE WIDELY USED IN ORDER TO MAKE WEBSITES WORK, OR WORK MORE EFFICIENTLY, AS WELL AS TO PROVIDE INFORMATION TO THE OWNERS OF THE SITE.<br />

<br />THIS WEBSITE MAKES USE OF COOKIES TO MONITOR VISITOR SESSIONS. NO PERSONAL INFORMATION IS STORED IN THE COOKIE THAT IS ISSUED BY THE SITE. THE VALUE STORED IN THE COOKIE IS AN ANONYMOUS IDENTIFIER, WHICH IS NOT LINKED TO ANY OTHER PERSONAL INFORMATION YOU MAY GIVE US DURING YOUR VISIT. IF YOU DO NOT WISH TO RECEIVE THESE COOKIES YOU CAN DISABLE THEM IN YOUR BROWSER, THOUGH DOING SO MAY RESULT IN INABILITY TO USE CERTAIN PARTS OUR WEBSITE.<br />

<br />MOST WEB BROWSERS ALLOW SOME CONTROL OF COOKIES THROUGH THE BROWSER SETTINGS. TO FIND OUT MORE ABOUT COOKIES, INCLUDING HOW TO SEE WHAT COOKIES HAVE BEEN SET AND HOW TO MANAGE AND DELETE THEM, VISIT <%= link_to 'WWW.ALLABOUTCOOKIES.ORG', 'http://www.allaboutcookies.org'  %>
<br />HOW DO WE USE COOKIES?
<br />WE MAY COLLECT TECHNICAL DATA ABOUT THE TYPE OF INTERNET BROWSER AND COMPUTER OPERATING SYSTEM THAT YOU USE, AND ALSO WHICH PAGES YOU VISIT AND INTERACT WITH. THIS INFORMATION DOES NOT IDENTIFY YOU AS AN INDIVIDUAL AND IS USED ONLY FOR TRACKING SITE USE SO THAT WE CAN IMPROVE YOUR EXPERIENCE ON THE SITE. WE MIGHT ALSO PLACE A "COOKIE" ON YOUR HARD DRIVE THAT WILL HELP US TO IDENTIFY YOU WHEN YOU RETURN TO THE SITE AND ALLOW US TO TAILOR CONTENT TO YOUR PERSONAL PREFERENCES. IF YOU DO NOT WISH TO USE "COOKIES" YOU MAY DISABLE THIS OPTION IN YOUR INTERNET BROWSER SETTINGS. "COOKIES" CAN BE REMOVED FROM YOUR COMPUTER.<br />

<br />
<br />
<br />

<br />IF YOU WANT TO KNOW MORE PLEASE CHECK OUR <%= link_to "FAQ", "https://dualitynetwork.zendesk.com/hc/en-us" %> OR <a href="mailto:admin@dualitynetwork.com">EMAIL US</a><br />
