<h1>VPN vs Proxy</h1>

How is VPN different from proxy?<br />
Let's start with this figure:<br />
<div class = "center">
<%= image_tag('footer/proxy.png', :title=>'proxy', :alt=>'proxy') %>
</div><div class = "center">
<%= image_tag('footer/vpn.png', :title=>'vpn', :alt=>'vpn') %>
</div>
While it looks pretty similar, differences are numerous:<br />

- Free proxies often serve <b>thousands</b> users at once. It's virtually impossible to get higher levels of speed and reliability using them simply because of current technical limitations.<br />

- You don't really know WHAT kind of data is being stored when you are connected to a free service. Maybe it's just your real IP and bytes received/sent but it 
might as well be your whole browsing history. Which often contains private info such as your e-mail, name of the bank you are using, things you search for in the 
internet etc.<br />

- You have to manually set your applications to use a proxy which is often impossible. With VPN you have no such issue – everything that leaves your computer goes 
through it whether you know it exists or not.<br />
- Many proxies only allow for browsing websites. Sometimes without even something as basic as HTTPS.  VPNs are superior in this matter as they can just as well work with your favourite online game as with custom made applications.<br />

- No data encryption. VPNs can protect you from public hotspots having security issues (and sometimes even your own computer/network if it's affected by viruses capable of stealing internet packets leaving your computers).<br />
