<h1>What is a vpn?</h1>
<div class = "nicer_font"

VPN stands for Virtual Private Network. It's most common usage is to artificially create closed and private networks so you can easily share files and information between all members of the network. The important aspect of the VPN lies in it's security – by default when you connect to it EVERYTHING you do via internet will be redirected to the VPN server and get heavily encrypted so you cannot „leak” information by mistake. This is the main usage of it that you will experience on the DualityNetwork. <br />

<br />The "true" Private Networks used in IT industry which would allow you and your friends/co-workers to be the part of the same virtual network are also an option in Administered packages (not available yet) where you get almost full access to the VPN server and can decide who to let in. Uses of it are numerous – starting from being able to host multiplayer games despite not having external IP and playing like if you were all directly connected to each other via cable and ending at creating encrypted zones where you can easily share information via other people. <br />


</div>
