<h1>Details of this VPN</h1>
Login:
<%= @account.login %><br />
Password:
<%= @account.password %><br />

<%= link_to "Click here to download zip archive with files necessary to connect to vpn", product_processors_vpn_sendZip_path %>
