<div class = "col-md-6 semicenter">
<h2>Summary of payment</h2>
<table class = "table table-bordered table-striped">
	<thead>
	<tr>
		<th>Description</th>
		<th>Payment method</th>
		<th>Price</th>
	</tr>
	</thead>
	<tbody>
<tr>
<td>Add DualityNetwork Funds</td>
<td>Dogecoin</td>
<td><%= number_to_currency(@amount) %></td>
</tr>
</tbody>
</table>
<%= link_to image_tag("payment_doge.png", :title=>"Pay now with dogecoin", :alt=>"dogecoin"), @url %>
<%= flash[:error] %>
</div>
