<%= render 'menu' %>
<div class = "container-right">
<p> Your mobile account </p>
<% if @eligibleToHave and !@mobileExists %>
<%= button_to "Click here to create your mobile VPN account", mobile_add_path, :method=> :post, data: { confirm: "Are you sure?" }, :class => 'btn btn-default' %>

<% end %>
<% if @mobileExists %>
<%= button_to "Click here to access your mobile VPN account details", mobile_check_path, :method=> :get, data: { confirm: "This will show your private connection details to this VPN in plain text. Are you sure?" }, :class => 'btn btn-default' %>
<% end %>
<% if !@eligibleToHave %>
You need to have a VPN account (available in the store) to create mobile device one connected to it.
<% end %>
</div>
