// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  //background-image: image-url("circuit.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
     float: none;
     margin-left: auto;
     margin-right: auto;
     margin-top: 5px;
}
.semicenter
{
text-align: left;
float: none;
margin-left: auto;
margin-right: auto;
}

.adjustToLeft
{
text-align: left;
float: none;
#padding-bottom:130px;
}


.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;

 }
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
 }

.world {
   background-image: image-url("header.jpg");
   background-repeat: no-repeat;
   height: 319px;
   width: 970px;
}

.main_part {
width: 970px;

padding-bottom:270px;   /* Height of the footer */
}

.to_lower {
margin-top:1.3cm;
}
.container-bg {
 content: "";
    #position: relative;
    top: 0;
    left: 0;
    height: 550px;
    width: 27%;
    background-color: grey;
    z-index: -1;
    float: left;
    #color: #00ff00;
    line-height:200%;
    #overflow : hidden;
    #padding-bottom:70px;
}
.container-right {
    #background-color: black;
    #text-align:right;
    #padding:0;
    min-height: 640px;
    width:72%;
    float:right;
    #z-index: -2;
    padding-bottom:285px;   /* Height of the footer */
    margin-top: 5px
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #cecece;
 }

.product-border{
width: 180px;

#border: 1px solid;
#border-color: #cecece;
margin-top: 5px;
#margin-left: 10px;
#margin-bottom: 10px;
#margin-right: 10px;
padding: 3px 3px 3px 3px;
margin-left: auto;
margin-right: auto;

table, th, td {
    border-spacing: 5px;
    border: 1px solid #cecece;
    border-collapse: separate;
    padding-top: 5px;
    padding-bottom: 5px;
}

}

.product-border2{
width: 186px;
#margin-top: 10px;
#margin-left: 10px;
#margin-bottom: 10px;
#margin-right: 10px;
#padding: 3px 3px 3px 3px;
margin-left: auto;
margin-right: auto;

table {
border-spacing: 5px;
border-collapse: separate;
    padding-top: 5px;
    padding-bottom: 5px;
}
th, td {
    border: 1px solid #cecece;
    border-collapse: separate;
    padding-top: 5px;
    padding-bottom: 5px;
}

}
.with_scrolling
{
	margin-top: 17px;
#	margin-left: 10px;

#	margin-bottom: 10px;
#	margin-right: 10px;
	padding: 3px 3px 3px 3px;
	overflow:scroll;
	height: 300px;
}


.footer {
  a:link {
    color: #FFFFFF;
    }
    /* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #FFFFFF;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
   position:absolute;
   bottom:0;
   width:970px;
   height:250px;   /* Height of the footer */
   padding-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   color: white;
   margin-left: auto;
   margin-right: auto;
   left:0;
   right:0;
   background-image: image-url("footer.jpg");
   background-repeat: no-repeat;
   //letter-spacing: 1.5px;
   font-family: "OCR A Std", "Nimbus Mono L", "Futura Condensed ExtraBold", Verdana, Serif;
   font-size: 120%;
}

.container {
   min-height:100%;
   position:relative;
}

.nicer_font {
  font-family: "Verdana", "Impact", Verdana, Serif;

}
.font_for_headers {
  font-family: "Arial Black", "Arial", Verdana, Serif;
  font-size: 130%;
  color: grey;
}
