<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Duality Network password recovery step 2</h1>
    <p><%="Your new password is: <b>#{@password}</b><br />".html_safe %>
     We also advise you to change it after you login and/or delete this message afterwards. 
    </p>
  </body>
</html>






