<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Duality Network password recovery</h1>
    <p>
     We’ve received a request to reset the password for your Duality Network account. Click this link to reset your password: 
     <%= link="https://dualitynetwork.com/support/password_reset_confirm?code=#{@code}" %>
    </p>
    <p>If it wasn't you requesting this change or no longer wish to change your password, please disregard this e-mail</p>
  </body>
</html>
