<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Duality Network password recovery step 2</h1>
    <p><%="Your new password is: <b>#{@password}</b>" %>
     <br /> Note - copy it character by character rather rather than doubleclicking whole password to avoid any random whitespace characters at the end. <br /> We also advise you to change it after you login and/or delete this message afterwards. 
    </p>
  </body>
</html>






