<%= render 'menu' %>
<div class = "container-right">

Kilobytes received by you
<%= area_chart @logs.group(:end).sum(:kilobytes_sent) %>
Kilobytes sent by you
<%= area_chart @logs.group(:end).sum(:kilobytes_received) %>
</div>
