<table class = "table table-bordered">
  <thead>
<tr>
  <th>Product name:</th>
  <th>Price per month</th>
</tr>
</thead><tbody><tr>
<td><%= @product.name %></td>
<td><%= number_to_currency(@product.price) %></td>
<td><%= link_to "Buy!", @url, :method=> :get %></td>
</tr></tbody>
</table>
<div class="center hero-unit">
<%= @product.details %>
</div>
