<ul>
<li><%= link_to "What is a VPN?", footer_what_is_vpn_path %></li>
<li><%= link_to "VPN vs Proxy", footer_vpn_vs_proxy_path %></li>
<li><%= link_to "Legals", footer_legals_path %></li>
<li><%= link_to "Contact us", footer_contact_us_path %></li>
</ul>
